.dynamic_grid_filter_columns button{
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    border-radius: 4px !important;
}
.dynamic_grid_filter_columns+div{
    display: none;
}

.dynamic_grid_filter_columns div.form{
    position: absolute;
    z-index: 1000;
    width: 338px;
    margin-top: 40px;
    display:none;
    background-color: white;
    padding-bottom: 10px;
    text-align: center;
}

.dynamic_grid_filter_columns div.form ul{
    text-align: left;
    margin-bottom: 5px;
    color: #333;
}
.dynamic_grid_filter_columns div.form ul li{
    cursor: move;
}
.dynamic_grid_filter_columns div.form ul li.ui-sortable-placeholder{
    list-style: none;
    background-color: lightgreen;
    visibility: visible !important;
}
.dynamic_grid_filter_columns div.form ul li.ui-sortable-helper{
    background-color: lightblue;
}
.dynamic_grid_filter_columns div.form button{
    float: none;
}

.material-switch > input[type="checkbox"] {
    display: none;
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative;
    width: 40px;
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}

.material-switch{
    width: 30px;
}
.material-text{
    width: 270px;
}